@import-normalize;

.btn-register {
  background-color: black !important;
  border-color: black !important;
  width: -webkit-fill-available;
  border: none;
}

.btn-register:hover {
  background-color: purple !important;
  border-color: rgb(255, 255, 255) !important;
}

.c-white {
  color: white !important;
}

.loginFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35vh;
  padding-bottom: 35.9vh;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 22vh;
  padding-bottom: 35vh;
}

.main-background {
  background: linear-gradient(#e66465, #9198e5);
}

.jumbotron {
  background-color: #e9ecef54 !important;
}

.btn-primary {
  border: none !important;
  background-color: black !important;
}

.btn-primary:hover {
  border: none !important;
  background-color: #8540e0 !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: #d07287 !important;
}
