@import-normalize;

.blockquote-footer {
  color: white;
}

.btn-register {
  background-color: black !important;
  border-color: black !important;
  width: -webkit-fill-available;
  border: none;
}

.btn-register:hover {
  background-color: purple !important;
  border-color: rgb(255, 255, 255) !important;
}

.c-white {
  color: white !important;
}

.loginFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 28vh;
  /* padding-bottom: 35.9vh; */
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15vh;
  /* padding-bottom: 35vh; */
}

.main-background {
  background: #272727;
  height: 100vh;
}

.jumbotron {
  background-color: #e9ecef54 !important;
  color: white;
}

.btn-primary {
  border: none !important;
  background-color: black !important;
}

.btn-primary:hover {
  border: none !important;
  background-color: #8540e0 !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: #d07287 !important;
}

.myCloud-main-container {
  background-color: #e9ecef54 !important;
  border-radius: 3px;
}

.myCloud-h2 {
  text-align: center;
  padding: 1em;
}

.myCloud-container {
  flex-direction: column;
  width: 100%;
}

.myCloud-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-title {
  text-align: center;
  font-weight: bold;
  color: black;
}

.article-body {
  font-weight: bold;
  color: black;
}

.article-dorm-container {
  background-color: #e9ecef54 !important;
  text-align: center;
}

.article-dorm-container-label {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
}
